<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-searchbar></ion-searchbar>
     
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-explore-container name="Aplicativos"></app-explore-container>
  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title>Genero</ion-card-title>
      <ion-card-subtitle>Drama</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Animes de Drama </ion-card-content>
  </ion-card>
  
  <ion-card color="secondary">
    <ion-card-header>
      <ion-card-title>Genero</ion-card-title>
      <ion-card-subtitle>Shounen</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Animes Shounen </ion-card-content>
  </ion-card>
  
  <ion-card color="tertiary">
    <ion-card-header>
      <ion-card-title>Genero</ion-card-title>
      <ion-card-subtitle>Suspense</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Animes de Suspense </ion-card-content>
  </ion-card>
  
  <ion-card color="success">
    <ion-card-header>
      <ion-card-title>Genero</ion-card-title>
      <ion-card-subtitle>Cotidiano</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Animes Cotidiano </ion-card-content>
  </ion-card>
  
  <ion-card color="warning">
    <ion-card-header>
      <ion-card-title>Genero</ion-card-title>
      <ion-card-subtitle>Terror</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Animes terror </ion-card-content>
  </ion-card>
  
 
 
</ion-content>

